
  
    .profile__edit-button {
        max-width: 24px;
       
    }
    @media screen and (max-width: 600px) {
        .profile__edit-button {
           max-width: 18px;
           
           
        }
    }
    .profile__edit-button:hover {
        opacity: .7;
    }