
  
    .profile__edit-button {
        /* min-width: 24px;
        max-height: 24px; */
        border: none;
        background-color: transparent;
        background-image: url(../../../images/Edit-Button.svg); 
        /* cursor: pointer; */
       
    }
    @media screen and (max-width: 600px) {
        .profile__edit-button {
           max-width: 18px;
           
           
        }
    }
    .profile__edit-button:hover {
        opacity: .7;
    }