.pop-up__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;

    margin: 195px auto;
    background-color: #fff;
    max-width: 430px;
    height: 330px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    
}
@media screen and (max-width: 600px) {   
   .pop-up__body {
       max-width: 282px;
       margin: 123px auto;

    }
}